

.top {
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 3.8rem;
    padding: 4rem;
    margin-bottom: 10rem;
    text-align: center;
    /* overflow: hidden; */
    height: 37rem;
  
 overflow: scroll;
 scrollbar-width: none;
}


.card {
    width: 17rem;
    position: relative;
   box-shadow: 0 .3rem .6rem rgb(162, 167, 166);
   /* transform: translateX(-10%); */
   
}

.cardimg {
    height: 17rem;

}

.button {
   position: absolute;
   bottom: 1rem;
    border: none;
    background-color: #ff9f00;
    font-size: 1rem;
    display: block;
    /* margin-bottom: 0rem; */
    margin-left: 2.7rem;
    width: 12rem;
    cursor: pointer;
    padding: .7rem 1rem .7rem 1rem;
    border-radius: 20px;
}
.button:hover{
    background-color: black;
    color: white;
}