



.cart{
    width: 700px;
    /* background-color: #fcbf49; */
   color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
   text-align: center;
   justify-items: center;
   margin: 43px auto;
   row-gap: 1rem;
   border-radius: 10px;
}
.cartimg{
    grid-column: 1/2;
    grid-row: 1/4; 
    width: 84px;
    height: fit-content;
}

.cartTitle{
    grid-column: 2/3;
    grid-row: 1/4;
    width: 300px;
}

.cartbutton{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(3, auto); */
    align-items: center;
    grid-column: 3/4;
   
}

.cartbutton button{
    display: flex;
    border: none;
    background: none;
    align-items: center;
}


.quantity{
    width: 30px;
  
}