
.slideshow{

    margin: 0 auto;
    max-width: 1305px;
    overflow: hidden;
   text-align: center;   

}

.slideshowslider{
    transition: ease-out 0.5s;
 
    white-space: nowrap; 
}

.slide{
    width: 1305px;
    height: 38rem;
    
}

.button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #748ffc;
    border: 2px solid black;
    display: inline-block;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}


